// 公共样式
body {
	// background-color: #ccc;
}
view {
	box-sizing: border-box;
}
.plr30 {
	padding: 0 30rpx;
}
.flex-box {
	display: flex;
	.flex-item {
		flex: 1;
	}
}
.fr {
	float: right;
}
.fl{
	float: left;
}
.ellipsis{
	white-space: nowrap;
	overflow : hidden;
	text-overflow: ellipsis;
	
}
