.app{
    background-color: #fff;
    height: 100vh;
    width: 200px;
    
}
#resizeBox {
    position: relative;
    left: 0px;
    height: 100%;
    width: 3px;
    /* // background-color: rgb(160, 92, 228); */
    background-color: rgb(234, 234, 234);
    cursor: ew-resize;
}