
.site-layout-content {
    min-height: 280px;
    padding: 24px;
    background: #fff;
  }
  #components-layout-demo-top .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    /* background: rgba(255, 255, 255, 0.3); */
  }
  .ant-row-rtl #components-layout-demo-top .logo {
    float: right;
    margin: 16px 0 16px 24px;
  }
  .ant-segmented{
    border-radius: 0;
    background-color: transparent;
  }
  .ant-segmented-group{
    height: 100%;
  }
  #root .ant-segmented-item {
    background-color: transparent;
    border-radius: 0;
  }
  #root .ant-segmented-item-selected{
    background-color: #3853E2;
    box-shadow: 0 2px 8px -2px rgb(24 144 255 / 5%), 0 1px 4px -1px rgb(24 144 255 / 7%), 0 0 1px 0 rgb(24 144 255 / 8%);
    color: #fff !important;
    border-radius: 0;
  }
  #root .ant-segmented-thumb {
    background-color: #3853E2 !important;
    box-shadow: 0 2px 8px -2px rgb(24 144 255 / 5%), 0 1px 4px -1px rgb(24 144 255 / 7%), 0 0 1px 0 rgb(24 144 255 / 8%);
    color: #fff !important;
  }
  
  #root .ant-segmented-item-label {
    min-height: 20px;
    line-height: 20px
  }